html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#gameCanvas {
  width: 100vw;
  height: 100vh;
}

#win {
  position: absolute;
  left: 2em;
  top: 2em;
  padding: 1em;
  background-color: green;
  color: white;
  opacity: 0;
}

